/* lnb */
.lnb {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  z-index: 10;
  background-color: #313a46;
  overflow: auto;

  h1 {
    position: relative;
    color: $color-white;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
  }

  h2 {
    position: relative;
    color: #8391a2;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
  }

  ul {
    position: relative;

    li {
      button {
        display: block;
        width: 100%;
        padding: 15px 30px;
        font-size: 15px;
        color: #8391a2;
        transition: 0.2s;
        box-sizing: border-box;
        text-align: left;

        &:before {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 5px solid #8391a2;
          margin-right: 10px;
        }

        &:hover {
          color: $color-white;

          &:before {
            border-left-color: $color-white;
          }
        }
      }
    }
  }
}

/* container */
.container {
  position: fixed;
  left: 250px;
  top: 0;
  bottom: 0;
  width: calc(100% - 250px);
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: auto;

  hr {
    height: 10px;
    display: block;
    background: none;
    border: 0;
  }
}
