.button {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 2px solid $color-theme;
  border-radius: 50px;
  text-align: center;
  background-color: $color-white;
  color: $color-black;
  font-size: 13px;

  &.bold {
    background-color: $color-theme;
    color: $color-white;
  }

  &:disabled {
    border-color: $color-gray !important;
    background-color: $color-gray !important;
    color: $color-black !important;
  }
}
